@{
ViewData["Title"] = "Chatbot";
}

<link rel="stylesheet" href="~/css/chatbot.css">

<body>

    <center>
    <img id="phone" src="~/img/graficos/grafico_11.png">
    </center>

    <div class="container">
        <div class="row">
            <div id="co1" class="col">
                <br><br><br><br><br><br><br><br>
                <p id="label1">¡No te quedes</p>
                <p id="label2">con la duda!</p>
            </div>
            <div id="co2" class="col">
                <iframe src="https://healthbotcontainertelenanu.azurewebsites.net/" height="550" width="279.4" style="border: none;"></iframe>
            </div>
            <div id="co3" class="col">
                <br><br><br><br><br><br><br><br>
                <p id="label1">Esto queda</p>
                <p id="label2">entre tu y yo</p>
            </div>
        </div>
    </div>

    <br><br><br>

</body>