@{
ViewData["Title"] = "Contacto";
}

<body>
    
    <div class="container">
        <br>
        <div class="row text-center">
            <div class="col">
                <img src="~/img/logos/titulo_medios.png" style="height: 65px;">
            </div>
        </div>
        <br><br><br>
        <div class="row text-center">
            <div class="col">
                <a href="https://www.facebook.com/TeleNanu.Oficial" target="_blank">
                    <img src="~/img/logos/facebook.png" height="185px">
                </a>
            </div>
            <div class="col">
                <a href="https://www.instagram.com/tele_nanu/?hl=es-la" target="_blank">
                    <img src="~/img/logos/instagram.png" height="185px">
                </a>
            </div>
            <div class="col">
                <a href="https://vm.tiktok.com/ZSXENBDv/" target="_blank">
                    <img src="~/img/logos/tiktok.png" height="185px">
                </a>
            </div>
        </div>
        <br>
    </div>

    <br><br><br><br>

</body>