@{
ViewData["Title"] = "Contacto";
}

<link rel="stylesheet" href="~/css/contacto.css">

<body>

    <center>
        <label id="label1">Medios</label>
        <label id="label2">Sociales</label>
    </center>

    <br><br>

    <center>
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="https://www.facebook.com/TeleNanu.Oficial" target="_blank">
                        <img src="~/img/logos/logo_06.jpg" width="98%">
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.instagram.com/tele_nanu/?hl=es-la" target="_blank">
                        <img src="~/img/logos/logo_07.jpg" width="98%">
                    </a>
                </div>
                <div class="col">
                    <a href="https://vm.tiktok.com/ZSXENBDv/" target="_blank">
                        <img src="~/img/logos/logo_08.jpg" width="98%">
                    </a>
                </div>
            </div>
        </div>
    </center>

    <br><br><br><br>

</body>