@{
ViewData["Title"] = "Estadísticas";
}

<body>
    <div>
        <iframe width="600" height="373.5"
            src="https://app.powerbi.com/view?r=eyJrIjoiOGI0MmU0NjAtYTMxYS00OGNjLTg2MDYtZWEyYjQzNGJkYWI3IiwidCI6Ijk4MjAxZmVmLWQ5ZjYtNGU2OC04NGY1LWMyNzA1MDc0ZTM0MiIsImMiOjR9"
            frameborder="0" allowFullScreen="true"></iframe>
    </div>
</body>