@{
ViewData["Title"] = "Telenanu";
}

<link rel="stylesheet" href="~/css/index.css">

<body>

    <br><br>
    <br><br>
    <br>

    <div id="bloque1">
        <div id="conten">
            <img id="img1" src="~/img/dialogos/dialogo_01.png">
            <p id="text1">¿Sabías qué?</p>
        </div>
        <div>
            <img id="img2" src="~/img/dialogos/dialogo_02.png">
            <p id="text2">
                Unos de los aspectos más vulnerables de la salud es la parte sexual,
                debido a que alrededor de esta se han formado muchos mitos y
                tabúes volviéndose un tema incómodo para los jóvenes de nuestro
                país y por eso ¡Estamos aquí!
            </p>
        </div>
    </div>

    <br>
    <br>

    <div id="bloque2">
        <div id="conten">
            <img id="img3" src="~/img/dialogos/dialogo_03.png">
            <p id="text3">¿Quiénes somos?</p>
        </div>
        <div>
            <img id="img4" src="~/img/dialogos/dialogo_04.png">
            <p id="text4">
                TeleNanu es una plataforma de teleconsejería en salud sexual y reproductiva
                dedicada a jóvenes como tú. A través de esta página resolveremos
                tus dudas sobre la sexualidad y guardaremos todos tus
                secretos bajo siete llaves; te ofreceremos información 100% certera
                y con base científica.
            </p>
        </div>
    </div>

    <br><br>

    <div id="bloque1">
        <div id="conten">
            <img id="img1" src="~/img/dialogos/dialogo_01.png">
            <p id="text5">¡Te presentamos a Nanu!</p>
        </div>
        <div>
            <img id="img6" src="~/img/dialogos/dialogo_02.png">
            <p id="text6">
                Su nombre significa ‘confidente’ ¡Y Queda perfecto con su personalidad!
                Nanu resolverá todas tus dudas y podrás hacerle las preguntas
                que quieras escribiéndole por Messenger de Facebook. No te preocupes,
                todo queda entre tú y Nanu. Atenderá tus consultas de lunes a
                viernes en horario de 3:00 p.m. a 5:00 p.m.
            </p>
        </div>
    </div>

    <br>
    <br>

    <div id="bloque2">
        <div id="conten">
            <img id="img3" src="~/img/dialogos/dialogo_03.png">
            <p id="text3">Objetivo</p>
        </div>
        <div>
            <img id="img4" src="~/img/dialogos/dialogo_04.png">
            <p id="text8">
                Difundir información de calidad sobre temas relacionados a la salud
                sexual y reproductiva a través de la creación de un espacio virtual
                amigable y confiable, para que los adolescentes y jóvenes puedan
                tomar decisiones informadas.
            </p>
        </div>
    </div>

    <br><br>
    <br><br>

    <img id="fstory" src="~/img/graficos/grafico_05.png">
    <div id="story">
        <label id="label1">Historia</label>
        <label id="label2">de Nanu</label><br>
        <iframe width="625" height="375" src="https://www.youtube.com/embed/AaUOagpyH-g" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <br><br>
    <br>

</body>